ellipse{
    fill: none;
    stroke: black;
    stroke-width: 0.7;
    opacity: 0.7;
}
div.years_buttons {
    position: fixed;
    top: 5px;
    left: 50px;
}
div.years_buttons div {
    background-color: rgb(251, 201, 127);
    padding: 3px;
    margin: 7px;
}
.origin_bar {
    fill: blue;
}
.dest_bar {
    fill: red;
}