ellipse{
    fill: none;
    stroke: black;
    stroke-width: 0.7;
    opacity.7;
}
h1 {
    position: absolute;
    left:300px;
    width:500px;
}
h2 {
    position: absolute;
    left:325px;
    width:225px;
    top:50px;
}
.button {
    position: absolute;
    top:72.5px;
    width:50px;
}
.button-up{
    left:700px;
}
.button-down{
    left:650px;
}
.play24{
    left:550px;
}
svg {
    position: absolute;
    left:0px;
    top:100px;
}
.states{
    fill: #ccc;
    stroke: #fff;
    stroke-width:2px;
}
.origin_bar {
    fill: rgb(31, 28, 219);
    stroke: black;
    stroke-width:.1;
    opacity:.7;
    stroke-opacity: 1;
}
.dest_bar {
    fill: rgb(224, 24, 24);
    stroke: black;
    stroke-width:.1;
    opacity:.7;
    stroke-opacity: 1;
}
.origin_path {
    fill:none;
    stroke:rgb(31, 28, 219);
    stroke-opacity:.7;
}
.dest_path {
    fill:none;
    stroke:rgb(224, 24, 24);
    stroke-opacity:.7;
}
.origin_marker {
    fill:rgb(31, 28, 219);
    opacity:.5;
}
.dest_marker {
    fill:rgb(224, 24, 24);
    opacity:.5;
}
.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 60px;
    padding: 4px;
    font: 12px sans-serif;
    background: #b3b3b3;
    border: solid #fff;
    border-radius: 8px;
    border-width:2px;
    pointer-events: none;
    opacity: 0;
}
.tooltip-header{
    height:30px;
}
.tooltip-left{
    float:left;
}
.tooltip-right{
    float: right;
}